<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.MemberMapper">

    <insert id="insert"> <!-- id : Mapper인터페이스에 적은 메소드 명과 일치해야함-->
        INSERT INTO tbl_member (name, password)
        VALUES (#{name}, #{password}) <!-- 세미콜론 안찍는거 주의!! -->
    </insert>

</mapper>